body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-image: url(../img/pepernoten.png);
  background-repeat: no-repeat;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #202020;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

table {
  margin-left: auto;
  margin-right: 30px;
  margin-top: 30px;
  float: right;
  table-layout: fixed;
  text-align: center;
  color: #d7d7d7;
  width: 300px;
  padding: 15px;
}

hr {
  border: 1px solid #afafaf;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

p {
  color: #d7d7d7;
}

a,
a:visited,
a:active {
  color: #7fb3d5;
  text-decoration: none;
  line-height: 25px;
}

a:hover {
  text-decoration: underline;
}

h3 {
  color: #dfdfdf;
}

#menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
}

.darktheme {
  background-color: #202020;
  margin-left: 200px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 100px;
}

.info {
  float: right;
}

.menubg {
  background-color: #292929;
}

.space {
  height: 100px;
}

.menubg {
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 15px;
  background-color: #303030;
}
